@page
@model InfopaisModel
@{

}

<h1>@Model.InfoPais.OfficialName</h1>
<p><strong>@Model.CodigoPais</strong></p>
<img src="@Model.InfoPais.FlagUrl" alt="@Model.InfoPais.OfficialName" style="width: 40%;"/>